.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-m);
  .container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    main {
      flex: 1;
    }
  }
}
