/* Color palette */

$color-black: oklch(0.25 0.005 150);
$color-white: oklch(0.97 0.005 150);

$color-light-green: oklch(0.9 0.02 150);
$color-dark-green: oklch(0.3 0.05 150);
$color-light-purple: oklch(0.9 0.02 300);
$color-dark-purple: oklch(0.3 0.05 300);
$color-light-orange: oklch(0.9 0.02 35);
$color-dark-orange: oklch(0.3 0.05 35);

/* Utilities */
$half-leading: calc((1cap - 1em) / 2);
$scrollbar-gutter: calc(100vw - 100%);
