.work-image-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.work-metadata__materials {
  display: inline-flex;
  padding-inline-start: 0;
  list-style-type: none;
  flex-direction: row;
  column-gap: 8px;
}

.adjacent-nav {
  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    list-style: none;
    padding-inline-start: 0;
  }
}