.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.normal {
  font-size: var(--font-size-s);
  background-color: var(--color-black-2);
  color: var(--color-white-2);
  padding-inline: var(--spacing-xxs);
  padding-block: var(--spacing-xxs);
  border-radius: 4px;
  margin-block: var(--spacing-xs);
}
.error {
  background-color: var(--color-complementary-1);
  color: var(--color-white-2);
  padding-inline: var(--spacing-xxs);
  padding-block: var(--spacing-xxs);
  border-radius: 4px;
  margin-block: var(--spacing-xs);
}
