.headingSub {
  font-size: var(--font-size-xxl);
  padding-block: var(--spacing-s);
  padding-inline: var(--spacing-m);
  background-color: var(--color-accent-1);
  color: var(--color-white-1);
  border-radius: 8px;
  text-align: center;
}
