.heading {
  padding-block: var(--spacing-s);
  padding-inline: var(--spacing-m);
  background-color: var(--color-accent-1);
  color: var(--color-white-1);
  border-radius: 8px;
  text-align: center;
}

.metadata {
  padding-inline: var(--spacing-s);
  color: var(--color-accent-1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing-xs);
    dt {
      color: var(--color-accent-2);
      font-size: var(--font-size-s);
    }
    dd {
      margin-inline-start: 0;

      a {
        color: var(--color-white-1);
        background-color: var(--color-accent-2);
        padding-block: var(--spacing-xxs);
        padding-inline: var(--spacing-xs);
        border-radius: 4px;

        @media (hover) {
          &:hover {
            background-color: var(--color-complementary-2);
          }
        }
      }
    }
  }

  .materials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-xxs);
  }
}
