.images {
  display: grid;
  gap: var(--spacing-s);
  img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 4px;
    @media (hover) {
      &:hover {
        border: 1px solid var(--color-complementary-2);
        filter:sepia(0.25);
      }
    }
  }

  /* 標準の CSS ではメディアクエリのブレイクポイントに変数は使えないので、妥協して直接定義した */
  @media screen and (max-width: 639.8px) {
    grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
  }
  @media screen and (min-width: 640px) {
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  }
}
